{% extends 'base.html' %}
<!-- cargando static -->
{% load static %}
<!-- haciendo el titulo dinamico -->
{% block title %} IANSA - Panel de control {% endblock %}
<!--  -->
{% block content %}
<!-- aqui va el contenido  -->
<section class="grid col-span-4 place-items-center py-12">
  <div class="relative">
    <div class="bg-green-600 rounded-lg gap-5 flex justify-center">
      <img src="{% static 'img/favicon.png' %}" alt="" class="w-32 ml-4" />
      <h1 class="text-7xl text-white p-10 text-center">Bienvenido</h1>
    </div>
  </div>
  <div class="relative">
    <img src="{% static '/img/bghome.png' %}" alt="" />
  </div>
</section>

{% endblock %}
