{% extends 'base.html' %}

{% load static %}

<script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>

{% block content%}
<section class="grid justify-center lg:col-span-4 mt-10 h-3/4">
    <form method="POST" class="bg-gray-400 px-10 py-5 rounded-lg">
        {% csrf_token %}
        <div class="grid lg:grid-cols-3 gap-4">
            <div class="relative pb-4">
                {{form.codigo}}
                <label for="{{form.codigo.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Código
                    Materia Prima</label>
            </div>

            <div class="relative pb-4">
                {{form.nombre}}
                <label for="{{form.nombre.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Nombre Materia</label>
            </div>

        </div>
        
        <div class="grid lg:grid-cols-2 gap-4">
            <div class="relative pb-4">
                {{form.existencia}}
                <label for="{{form.existencia.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Existencia</label>
            </div>

            <div class="relative pb-4">
                {{form2.cantidad}}
                <label for="{{form2.cantidad.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Cantidad
                    a Ingresar</label>
            </div>
        </div>

        <div class="grid lg:grid-cols-3 gap-4">
            <div class="relative pb-4">
                {{form2.oc}}
                <label for="{{form2.oc.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Orden de Compra</label>
            </div>

            <div class="relative pb-4">
                {{form2.nlote}}
                <label for="{{form2.nlote.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">N° Lote</label>
            </div>

            <div class="relative pb-4">
                {{form2.proveedor}}
                <label for="{{form2.proveedor.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Proveedor</label>
            </div>
        </div>

        <div class="grid lg:grid-cols-2 gap-4">
            <div class="relative pb-4">
                {{form2.fecha_ingreso}}
                <label for="{{form.fecha_ingreso.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Fecha
                    de Ingreso</label>
            </div>

            <div class="relative pb-4">
                {{form2.fecha_vencimiento}}
                <label for="{{form.fecha_vencimiento.id_for_label}}"
                    class="absolute text-sm text-green-500 dark:text-green-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Fecha
                    de Vencimiento</label>
            </div>
        </div>

        <button type="submit" onclick="cargar()"
            class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-10 py-2.5 text-center mr-2 mb-2 mt-6">Registrar</button>
    </form>
</section>
</div>
<div class="p-20">

</div>

<script>         
function cargar() {
    var exist = parseFloat(document.getElementById("existencia").value)
    var ingreso = parseFloat(document.getElementById("cantidad").value)
    var nlote = parseInt(document.getElementById("nlote").value)
    var oc = parseInt(document.getElementById("oc").value)
    var proveedor = document.getElementById("proveedor").value
    var fingreso = document.getElementById("fecha_ingreso").value
    var fvencimiento = document.getElementById("fecha_vencimiento").value
    if (ingreso < 1 || fingreso == "" || fvencimiento=="" || oc == null || nlote == null || proveedor == "" ) {
        ingreso = 0;
    }
    document.getElementById("existencia").value = exist + ingreso
} 
</script>

{% endblock %}