{% extends 'base.html' %} {% load static %}
<!-- haciendo el titulo dinamico -->
{% block title %} IANSA - Panel de control {% endblock %}
<!--  -->

{% block content%}

<div
  class="grid lg:col-span-4 overflow-x-auto relative shadow-md sm:rounded-lg mx-10 my-10"
>
  <table class="text-sm text-left text-gray-500">
    <thead class="text-xs text-center text-white uppercase bg-green-700">
      <tr>
        <th scope="col" class="py-3 px-6">Código Materia Prima</th>
        <th scope="col" class="py-3 px-6 border-x">Nombre Materia Prima</th>
        <th scope="col" class="py-3 px-6 border-x">Existencia</th>
        <th scope="col" class="py-3 px-6">--</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for m in materias %}
      <tr class="bg-gray-100 border-b">
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
        >
          I0 {{m.codigo}}
        </th>
        <td class="py-4 px-6">{{m.nombre}}</td>
        <td class="py-4 px-6">{{m.existencia}}</td>
        <td class="flex py-4 px-6 gap-4">
          <a
            href="editar-materias/{{m.codigo}}"
            class="font-medium text-blue-600 hover:underline"
            >Editar</a
          >
          <a
            href="eliminar-materias/{{m.codigo}}"
            class="font-medium text-blue-600 hover:underline"
            >Eliminar</a
          >
          <a
            href="entradas-materias/{{m.codigo}}"
            class="font-medium text-blue-600 hover:underline"
            >Entradas</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
