{% extends 'base.html' %} {% load static %}
<!-- haciendo el titulo dinamico -->
{% block title %} IANSA - Panel de control {% endblock %}
<!--  -->

{% block content%}

<div class="grid lg:col-span-4 mt-6">
  <div class="flex items-center">
    <h1 class="ml-10 mr-2 text-4xl font-bold text-green-600">
      Menú de Materias Primas
    </h1>
    <img src="{% static 'img/remolacha.png' %}" alt="" class="w-20" />
  </div>
  <div
    class="overflow-x-auto justify-center shadow-md sm:rounded-lg mx-10 my-10"
  >
    <table class="text-sm text-left text-gray-500 w-full" id="datatable">
      <thead class="text-xs text-center text-white uppercase bg-green-700">
        <tr>
          <th scope="col" class="py-3 px-6">Código Materia Prima</th>
          <th scope="col" class="py-3 px-6 border-x">Nombre Materia Prima</th>
          <th scope="col" class="py-3 px-6 border-x">Descripción</th>
          <th scope="col" class="py-3 px-6 border-x">--</th>
          <th scope="col" class="py-3 px-6">Eliminar</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for m in materias %}
        <tr class="bg-gray-100 border-b">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
          >
            I0 {{m.codigo}}
          </th>
          <td class="py-4 px-6">{{m.nombre}}</td>
          <td class="py-4 px-6">{{m.descripcion}}</td>
          <td class="flex py-4 px-10 gap-4 justify-center">
            <a
              href="editar-materias/{{m.codigo}}"
              class="font-medium bg-yellow-500 w-20 py-1 rounded-md text-white hover:bg-yellow-600"
              >Editar</a
            >
            <a
              href="entradas-materias/{{m.codigo}}"
              class="font-medium bg-yellow-500 w-20 py-1 rounded-md text-white hover:bg-yellow-600"
              >Entradas</a
            >
          </td>
          <td class="py-4 px-10">
            <a href="eliminar-materias/{{m.codigo}}"
              ><img class="w-10" src="{% static 'img/delete.png' %}" alt=""
            /></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
